<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <?define var.BINDIRECTORY = $(var.CloudFoundry.WinDEA.WindowsService.TargetDir)?>  
  <?define var.BUILDPACKDIRECTORY =$(var.CloudFoundry.WinDEA.WindowsService.TargetDir)..\src\Buildpacks\?>  
  
  <?define var.ProductName = "Windows DEA"?>
  <?define var.Manufacturer = "CloudFoundry"?>
  <?define var.REDISTPATH = "C:\Program Files (x86)\Common Files\Merge Modules"?>
  <?define var.MergeModulesVersion = "120"?>

  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="$(var.Manufacturer)" UpgradeCode="efc0d212-71b1-4ef9-b6d2-e1468b7c4a47">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="INDEX" Value="0"/>
    <Property Id="BASEDIR" Value="C:\droplets"/>
    <Property Id="LOCALROUTE" Value="8.8.8.8"/>
    <Property Id="FILERPORT" Value="12345"/>
    <Property Id="STATUSPORT" Value="0"/>
    <Property Id="MESSAGEBUS" Value="NA" />
    <Property Id="DOMAIN" Value="#"/>
    <Property Id="MULTITENANT" Value="true"/>
    <Property Id="MAXMEMORYMB" Value="4096"/>
    <Property Id="SECURE" Value="true"/>
    <Property Id="ENFORCEULIMIT" Value="true"/>
    <Property Id="HEARTBEATINTERVALMS" Value="10000"/>
    <Property Id="ADVERTISEINTERVALMS" Value="5000"/>
    <Property Id="USEDISKQUOTA" Value="true"/>
    <Property Id="UPLOADTHROTTLEBITSPS" Value="0"/>
    <Property Id="MAXCONCURRENTSTARTS" Value="3"/>
    <Property Id="DIRECTORYSERVERPORT" Value="34567"/>
    <Property Id="STREAMINGTIMEOUTMS" Value="60000"/>
    <Property Id="STAGINGENABLED" Value="TRUE"/>
    <Property Id="BUILDPACKSDIRECTORY" Value="buildpacks"/>
    <Property Id="GIT" Value="C:\Program Files (x86)\Git\bin\git.exe"/>
    <Property Id="STAGINGTIMEOUTMS" Value="1200000"/>
    <Property Id="STACKS" Value="iis8"/>
    
    <Condition Message="Please set a correct messagebus and domain."><![CDATA[(MESSAGEBUS<>"NA" AND DOMAIN<>"#") OR Installed]]></Condition>   
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">          
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <Component Id="ProductComponents" Guid="bb38447b-e955-4496-a7ea-dec6b19f0b44">
              <!-- 
              Could the addition of binaries be automated using this guide: https://ahordijk.wordpress.com/2013/03/26/automatically-add-references-and-content-to-the-wix-installer/  ?
              Cherrypicking all files makes the process of managing nuget packages error-prone.
              -->
              
              <File Id="DeaConfig" Name="Dea.config" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceExe" Name="DEA.exe" Source="$(var.BINDIRECTORY)" KeyPath="yes"/>
              <File Id="ServiceConfig" Name="DEA.exe.config" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServicePdb" Name="DEA.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="NewtonsoftJson" Name="Newtonsoft.Json.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="NLogDll" Name="NLog.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="NLogConfig" Name="NLog.config" Source="$(var.BINDIRECTORY)"/>
              <File Id="SharpCompress" Name="SharpCompress.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="DirectoryServerDll" Name="CloudFoundry.WinDEA.DirectoryServer.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="DirectoryServerPdb" Name="CloudFoundry.WinDEA.DirectoryServer.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryDEADll" Name="CloudFoundry.WinDEA.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryDEAPdb" Name="CloudFoundry.WinDEA.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryConfigurationDll" Name="CloudFoundry.Configuration.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryConfigurationPdb" Name="CloudFoundry.Configuration.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryNatsClientDll" Name="CloudFoundry.NatsClient.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryNatsClientPdb" Name="CloudFoundry.NatsClient.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryUtilitiesDll" Name="CloudFoundry.Utilities.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryUtilitiesPdb" Name="CloudFoundry.Utilities.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="YamlDotNetCoreDll" Name="YamlDotNet.Core.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="YamlDotNetCorePdb" Name="YamlDotNet.Core.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="YamlDotNetRepresentationModelDll" Name="YamlDotNet.RepresentationModel.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="YamlDotNetRepresentationModelPdb" Name="YamlDotNet.RepresentationModel.pdb" Source="$(var.BINDIRECTORY)"/>


              <File Id="ProcessPrivileges" Name="ProcessPrivileges.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="InteropDiskQuotaTypeLibrary" Name="Interop.DiskQuotaTypeLibrary.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="AlphaFSDll" Name="AlphaFS.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="AlphaFSPdb" Name="AlphaFS.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="CloudFoundryPrisonGuard" Name="CloudFoundry.WindowsPrison.Guard.exe" Source="$(var.BINDIRECTORY)" />
              <File Id="CloudFoundryPrison" Name="CloudFoundry.WindowsPrison.dll" Source="$(var.BINDIRECTORY)" />


              <util:XmlFile Id="SetIndex" Action="setValue" ElementPath="/cloudfoundry/dea/@index" File="[INSTALLDIR]\Dea.config" Value="[INDEX]" ></util:XmlFile>
              <util:XmlFile Id="SetBaseDir" Action="setValue" ElementPath="/cloudfoundry/dea/@baseDir" File="[INSTALLDIR]\Dea.config" Value="[BASEDIR]" ></util:XmlFile>
              <util:XmlFile Id="SetLocalRoute" Action="setValue" ElementPath="/cloudfoundry/dea/@localRoute" File="[INSTALLDIR]\Dea.config" Value="[LOCALROUTE]" ></util:XmlFile>
              <util:XmlFile Id="SetFilerPort" Action="setValue" ElementPath="/cloudfoundry/dea/@filerPort" File="[INSTALLDIR]\Dea.config" Value="[FILERPORT]" ></util:XmlFile>
              <util:XmlFile Id="SetStatusPort" Action="setValue" ElementPath="/cloudfoundry/dea/@statusPort" File="[INSTALLDIR]\Dea.config" Value="[STATUSPORT]" ></util:XmlFile>
              <util:XmlFile Id="SetMessageBus" Action="setValue" ElementPath="/cloudfoundry/dea/@messageBus" File="[INSTALLDIR]\Dea.config" Value="[MESSAGEBUS]" ></util:XmlFile>
              <util:XmlFile Id="SetDomain" Action="setValue" ElementPath="/cloudfoundry/dea/@domain" File="[INSTALLDIR]\Dea.config" Value="[DOMAIN]" ></util:XmlFile>
              <util:XmlFile Id="SetMultitenant" Action="setValue" ElementPath="/cloudfoundry/dea/@multiTenant" File="[INSTALLDIR]\Dea.config" Value="[MULTITENANT]" ></util:XmlFile>
              <util:XmlFile Id="SetMaxMemoryMb" Action="setValue" ElementPath="/cloudfoundry/dea/@maxMemoryMB" File="[INSTALLDIR]\Dea.config" Value="[MAXMEMORYMB]" ></util:XmlFile>
              <util:XmlFile Id="SetSecure" Action="setValue" ElementPath="/cloudfoundry/dea/@secure" File="[INSTALLDIR]\Dea.config" Value="[SECURE]" ></util:XmlFile>
              <util:XmlFile Id="SetEnforceULimit" Action="setValue" ElementPath="/cloudfoundry/dea/@enforceUlimit" File="[INSTALLDIR]\Dea.config" Value="[ENFORCEULIMIT]" ></util:XmlFile>
              <util:XmlFile Id="SetHeartBeatIntervalMs" Action="setValue" ElementPath="/cloudfoundry/dea/@heartbeatIntervalMs" File="[INSTALLDIR]\Dea.config" Value="[HEARTBEATINTERVALMS]" ></util:XmlFile>
              <util:XmlFile Id="SetAdvertiseIntervalMs" Action="setValue" ElementPath="/cloudfoundry/dea/@advertiseIntervalMs" File="[INSTALLDIR]\Dea.config" Value="[ADVERTISEINTERVALMS]" ></util:XmlFile>
              <util:XmlFile Id="SetUseDiskQuota" Action="setValue" ElementPath="/cloudfoundry/dea/@useDiskQuota" File="[INSTALLDIR]\Dea.config" Value="[USEDISKQUOTA]" ></util:XmlFile>
              <util:XmlFile Id="SetUploadThrottle" Action="setValue" ElementPath="/cloudfoundry/dea/@uploadThrottleBitsps" File="[INSTALLDIR]\Dea.config" Value="[UPLOADTHROTTLEBITSPS]" ></util:XmlFile>
              <util:XmlFile Id="SetMaxConcurrentStarts" Action="setValue" ElementPath="/cloudfoundry/dea/@maxConcurrentStarts" File="[INSTALLDIR]\Dea.config" Value="[MAXCONCURRENTSTARTS]" ></util:XmlFile>
              <util:XmlFile Id="SetDirectoryServerPort" Action="setValue" ElementPath="/cloudfoundry/dea/directoryServer/@v2Port" File="[INSTALLDIR]\Dea.config" Value="[DIRECTORYSERVERPORT]" ></util:XmlFile>
              <util:XmlFile Id="SetStreamingTimeout" Action="setValue" ElementPath="/cloudfoundry/dea/directoryServer/@streamingTimeoutMS" File="[INSTALLDIR]\Dea.config" Value="[STREAMINGTIMEOUTMS]" ></util:XmlFile>
              <util:XmlFile Id="SetStagingEnabled" Action="setValue" ElementPath="/cloudfoundry/dea/staging/@enabled" File="[INSTALLDIR]\Dea.config" Value="[STAGINGENABLED]" ></util:XmlFile>
              <util:XmlFile Id="SetBuildpacksDir" Action="setValue" ElementPath="/cloudfoundry/dea/staging/@buildpacksDirectory" File="[INSTALLDIR]\Dea.config" Value="[BUILDPACKSDIRECTORY]" ></util:XmlFile>
              <util:XmlFile Id="SetGit" Action="setValue" ElementPath="/cloudfoundry/dea/staging/@gitExecutable" File="[INSTALLDIR]\Dea.config" Value="[GIT]" ></util:XmlFile>
              <util:XmlFile Id="SetStagingTimeout" Action="setValue" ElementPath="/cloudfoundry/dea/staging/@stagingTimeoutMs" File="[INSTALLDIR]\Dea.config" Value="[STAGINGTIMEOUTMS]" ></util:XmlFile>
              <util:XmlFile Id="SetStacks" Action="setValue" ElementPath="/cloudfoundry/dea/stacks/stack/@name" File="[INSTALLDIR]\Dea.config" Value="[STACKS]" ></util:XmlFile>

              <ServiceInstall Id="WinDEA" Type="ownProcess" Name="WinDEA" DisplayName="WinDEA"
                Description="Cloudfoundry .NET Droplet Execution Agent" Start="auto" Account="LocalSystem" ErrorControl="normal">
                <util:PermissionEx User="Everyone" ServicePauseContinue="yes" ServiceQueryStatus="yes"
                        ServiceStart="yes" ServiceStop="yes" ServiceUserDefinedControl="yes" />
                <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" ResetPeriodInDays="1" RestartServiceDelayInSeconds="15"/>
                <ServiceConfig DelayedAutoStart="yes" OnInstall="yes"></ServiceConfig>
              </ServiceInstall>
              <ServiceControl Id="WinDEA" Start="install" Stop="both" Remove="both" Name="WinDEA" Wait="no" />
              
            </Component>
            
            <Directory Id="BuildpackDir" Name="buildpacks">
              <Directory Id="iis8Dir" Name="iis8">
                <Directory Id="iis8appDir" Name="app">
                  <Directory Id="iis8appbin" Name="bin">                    
                    <Component Id="iis8buildpackapplog" Feature="BuildpackFeature">
                       <File Id="ASPLOGGING" Name="CloudFoundry.AspDotNetLogging.dll" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\app\bin\CloudFoundry.AspDotNetLogging.dll"/>
                       <File Id="ASPLOGConfig" Name="CloudFoundry.AspDotNetLogging.dll.config" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\app\bin\CloudFoundry.AspDotNetLogging.dll.config"/>
                    </Component>
                  </Directory>                   
                </Directory>   
                
                <Directory Id="iis8binDir" Name="bin">                  
                    <Component Id="iis8buildpackbin" Guid="bb38447b-e955-4496-a7ea-dec6b19f0b45" Feature="BuildpackFeature">                     
                        <File Id="CompileBat" Name="compile.bat" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\bin\compile.bat"/>
                        <File Id="CompilePS" Name="compile.ps1" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\bin\compile.ps1"/>
                        <File Id="NugetExe" Name="nuget.exe" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\bin\nuget.exe"/>
                        <File Id="DetectBat" Name="detect.bat" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\bin\detect.bat"/>
                        <File Id="DetectPS" Name="detect.ps1" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\bin\detect.ps1"/>
                        <File Id="ReleaseBat" Name="release.bat" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\bin\release.bat"/>
                        <File Id="ReleasePS" Name="release.ps1" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\bin\release.ps1"/>                      
                    </Component>                  
                </Directory>
              
                <Directory Id="iis8hwc" Name="iishwc">
                  
                    <Directory Id="iis8hwcsrc" Name="src">
                      <Component Id="iis8hwcsln" Feature="BuildpackFeature">
                        <File Id="slnhwc" Name="iishwc.sln" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\src\iishwc.sln"/>
                      </Component>
                      <Directory Id="iis8hwcsrcc" Name="iishwc">
                        <Component Id="iis8hwcslncpp" Guid="bb38447b-e955-4496-a7ea-dec6b19f0b46" Feature="BuildpackFeature">
                          <File Id="iishwcpp" Name="iishwc.cpp" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\src\iishwc\iishwc.cpp"/>
                          <File Id="iishwcvcxproj" Name="iishwc.vcxproj" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\src\iishwc\iishwc.vcxproj"/>
                          <File Id="iishwcvcxprojfilter" Name="iishwc.vcxproj.filters" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\src\iishwc\iishwc.vcxproj.filters"/>
                        </Component>
                      </Directory>
                    </Directory>
                    
                    <Component Id="iis8isshwc" Guid="bb38447b-e955-4496-a7ea-dec6b19f0b47" Feature="BuildpackFeature">
                       <File Id="apphostTemp" Name="applicationHostTemplate.config" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\applicationHostTemplate.config"/>
                       <File Id="detectVersion" Name="detectVersion.ps1" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\detectVersion.ps1"/>
                       <File Id="iishwcx64" Name="iishwcx64.exe" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\iishwcx64.exe"/>
                       <File Id="iishwcx86" Name="iishwcx86.exe" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\iishwcx86.exe"/>
                       
                       <File Id="rootWeb2064" Name="rootWeb2064.config" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\rootWeb2064.config"/>
                       <File Id="rootWeb2086" Name="rootWeb2086.config" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\rootWeb2086.config"/>
                      
                       <File Id="rootWeb4064" Name="rootWeb4064.config" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\rootWeb4064.config"/>
                       <File Id="rootWeb4086" Name="rootWeb4086.config" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\rootWeb4086.config"/>
                       
                       <File Id="startbat" Name="start.bat" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\start.bat"/>
                       <File Id="startPS" Name="start.ps1" Source="$(var.BUILDPACKDIRECTORY)\cf-iis8-buildback\iishwc\start.ps1"/>                       
                    </Component>                
                
                </Directory>              
              </Directory>
            </Directory>          
          
          </Directory>
        </Directory>
      </Directory>
      
      <Merge Id="VCRedist86CRT" Language="0" DiskId="1" SourceFile="$(var.REDISTPATH)\Microsoft_VC$(var.MergeModulesVersion)_CRT_x86.msm" />
      <Merge Id="VCRedist64CRT" Language="0" DiskId="1" SourceFile="$(var.REDISTPATH)\Microsoft_VC$(var.MergeModulesVersion)_CRT_x64.msm" />

      <Merge Id="VCRedist86OpenMP" Language="0" DiskId="1" SourceFile="$(var.REDISTPATH)\Microsoft_VC$(var.MergeModulesVersion)_OpenMP_x86.msm" />
      <Merge Id="VCRedist64OpenMP" Language="0" DiskId="1" SourceFile="$(var.REDISTPATH)\Microsoft_VC$(var.MergeModulesVersion)_OpenMP_x64.msm" />

      <Merge Id="VCRedist86CXXAMP" Language="0" DiskId="1" SourceFile="$(var.REDISTPATH)\Microsoft_VC$(var.MergeModulesVersion)_CXXAMP_x86.msm" />
      <Merge Id="VCRedist64CXXAMP" Language="0" DiskId="1" SourceFile="$(var.REDISTPATH)\Microsoft_VC$(var.MergeModulesVersion)_CXXAMP_x64.msm" />
      
    </Directory>
  <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
    <ComponentRef Id="ProductComponents" />
      <MergeRef Id="VCRedist86CRT"/>
      <MergeRef Id="VCRedist64CRT"/>
      <MergeRef Id="VCRedist86OpenMP"/>
      <MergeRef Id="VCRedist64OpenMP"/>
      <MergeRef Id="VCRedist86CXXAMP"/>
      <MergeRef Id="VCRedist64CXXAMP"/>
  </Feature>
  
  <Feature Id="BuildpackFeature" Title="Buildpack" Absent="disallow" Display="hidden">  
  </Feature>
  
  </Product>  
</Wix>
