obj
*.exe
TestResults
bin
*.suo
*.vsmdi
*.opensdf
*.sdf
CloudFoundry.Utilities.WindowsProcess/x64
*.user
StyleCop.Cache
*.testsettings
*.trx
doc/*.xml
doc/*.XML
!src/CloudFoundry.Test/TestApps/Umbraco/app/bin
!src/buildpacks/cf-iis8-buildback/app/bin
!src/buildpacks/cf-iis8-buildback/bin
!src/buildpacks/cf-iis8-buildback/iishwc/iishwcx64.exe
!src/buildpacks/cf-iis8-buildback/iishwc/iishwcx86.exe
!installers/logyard/binaries/apptail.exe
!installers/logyard/binaries/logyard.exe
!installers/logyard/binaries/systail.exe
!src/CloudFoundry.WinDEA/CloudFoundry.WindowsPrison.Guard.exe

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
#!**/packages/repositories.config

!.nuget/NuGet.exe