[submodule "src/windows-isolation"]
	path = src/windows-isolation
	url = git@github.com:UhuruSoftware/windows-isolation.git
[submodule "src/buildpacks/uhuru-buildpack-iis8"]
	path = src/buildpacks/uhuru-buildpack-iis8
	url = git@github.com:UhuruSoftware/uhuru-buildpack-iis8.git
