<cloudfoundry xmlns="urn:CloudFoundry.Configuration">
  <dea
    baseDir="c:\droplets"
    localRoute="192.168.1.1"
    filerPort="12345"
    messageBus="nats://192.168.1.1:4222/"
    multiTenant="true"
    maxMemoryMB="4096"
    secure="true"
    enforceUlimit="true">

    <directoryServer v2Port="34567" streamingTimeoutMS="60000"/>
  </dea>
</cloudfoundry>