<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define var.ProductName = "Windows MSSQL Service"?>
  <?define var.Manufacturer = "Uhuru Software, Inc."?>
  <?define var.BINDIRECTORY = $(var.Uhuru.CloudFoundry.MsSqlService.WindowsService.TargetDir)?>

  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="$(var.Manufacturer)" UpgradeCode="3129fc8c-fa38-4382-89b0-3d869b8b499a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />


    <Property Id="INDEX" Value="0"/>    
    <Property Id="PLAN" Value="FREE"/>
    <Property Id ="CAPACITY" Value="200" />
    <Property Id="BASEDIR" Value=".\"/>
    <Property Id="LOCALROUTE" Value="198.41.0.4"/>
    <Property Id="NODEID" Value="mssql_node_free_1"/>
    <Property Id="ZINTERVAL" Value="30000"/>
    <Property Id="MESSAGEBUS" Value="NA" />
    <Property Id="LOCALDB" Value="localDb.xml"/>
    <!--<Property Id="MIGRATIONNFS" Value=""/>-->
    <Property Id="MAXNATSPAYLOAD" Value="1048576"/>
    <Property Id="FQDNHOSTS" Value="false"/>
    <Property Id="OPTIMELIMIT" Value="6"/>    
    <Property Id="STATUSPORT" Value="0"/>
    
    <Property Id="HOST" Value="(LOCAL)"/>
    <Property Id="USER" Value="sa"/>
    <Property Id="PASSWORD" Value="password1234!"/>
    <Property Id="PORT" Value="1433"/>
    <Property Id="MAXDBSIZE" Value="20"/>
    <Property Id="MAXLONGQUERY" Value="3"/>
    <Property Id="MAXLONGTX" Value="30"/>
    <Property Id="MAXUSERCONNS" Value="20"/>
    
    <Property Id="INTIALDATASIZE" Value="4096KB"/>
    <Property Id="DATAFILEGROWTH" Value="5120KB"/>
    <Property Id="LOGFILEGROWTH" Value="1024KB"/>
    <Property Id="MAXDATASIZE" Value="UNLIMITED" />
    <Property Id="INITIALLOGSIZE" Value="2048KB"/>
    <Property Id="MAXLOGSIZE" Value="UNLIMITED"/>    
    <Property Id="LOGICALSTORAGEUNITS" Value="C:"/>

    <Property Id="BACKUPBASEDIR" Value="\\192.168.1.105\migration\backup" />
    <Property Id="TIMEOUT" Value="120"/>
    <Property Id="SERVICENAME" Value="MSSQL"/>

    <Condition Message="Please set a correct messagebus."><![CDATA[(MESSAGEBUS<>"NA") OR Installed]]></Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <Component Id="ProductComponents" Guid="cb38447b-e955-4496-a7ea-dec6b19f0b44">
              <File Id="UhuruConfig" Name="uhuru.config" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceEXE" Name="MSSqlNode.exe" Source="$(var.BINDIRECTORY)" KeyPath="yes"/>
              <File Id="ServiceConfig" Name="MSSqlNode.exe.config" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceXml" Name="MSSqlNode.xml" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceBackup" Name="MSSqlNodeBackup.exe" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceBackupConfig" Name="MSSqlNodeBackup.exe.config" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceBackupXml" Name="MSSqlNodeBackup.xml" Source="$(var.BINDIRECTORY)"/>
              <File Id="MSSQLServiceDLL" Name="Uhuru.CloudFoundry.MSSqlService.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="MSSQLServicePdb" Name="Uhuru.CloudFoundry.MSSqlService.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceBaseDLL" Name="Uhuru.CloudFoundry.ServiceBase.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="ServiceBasePdb" Name="Uhuru.CloudFoundry.ServiceBase.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="UhuruConfigurationDll" Name="Uhuru.Configuration.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="UhuruConfigurationPdb" Name="Uhuru.Configuration.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="UhuruNatsClientDll" Name="Uhuru.NatsClient.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="UhuruNatsClientPdb" Name="Uhuru.NatsClient.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="UhuruUtilitiesDll" Name="Uhuru.Utilities.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="UhuruUtilitiesPdb" Name="Uhuru.Utilities.pdb" Source="$(var.BINDIRECTORY)"/>
              <File Id="NLogDll" Name="NLog.dll" Source="$(var.BINDIRECTORY)"/>
              <File Id="NLogConfig" Name="NLog.config" Source="$(var.BINDIRECTORY)"/>
              <File Id="NewtonsoftJsonDll" Name="Newtonsoft.Json.dll" Source="$(var.BINDIRECTORY)"/>

              <util:XmlFile Id="SetIndex" Action="setValue" ElementPath="/uhuru/service/@index" File="[INSTALLDIR]\uhuru.config" Value="[INDEX]" ></util:XmlFile>
              <util:XmlFile Id="SetPlan" Action="setValue" ElementPath="/uhuru/service/@plan" File="[INSTALLDIR]\uhuru.config" Value="[PLAN]" ></util:XmlFile>
              <util:XmlFile Id="SetCapacity" Action="setValue" ElementPath="/uhuru/service/@capacity" File="[INSTALLDIR]\uhuru.config" Value="[CAPACITY]" ></util:XmlFile>
              <util:XmlFile Id="SetBaseDir" Action="setValue" ElementPath="/uhuru/service/@baseDir" File="[INSTALLDIR]\uhuru.config" Value="[BASEDIR]" ></util:XmlFile>
              <util:XmlFile Id="SetLocalRoute" Action="setValue" ElementPath="/uhuru/service/@localRoute" File="[INSTALLDIR]\uhuru.config" Value="[LOCALROUTE]" ></util:XmlFile>
              <util:XmlFile Id="SetNodeId" Action="setValue" ElementPath="/uhuru/service/@nodeId" File="[INSTALLDIR]\uhuru.config" Value="[NODEID]" ></util:XmlFile>
              <util:XmlFile Id="SetZInterval" Action="setValue" ElementPath="/uhuru/service/@zInterval" File="[INSTALLDIR]\uhuru.config" Value="[ZINTERVAL]" ></util:XmlFile>
              <util:XmlFile Id="SetMessageBus" Action="setValue" ElementPath="/uhuru/service/@mbus" File="[INSTALLDIR]\uhuru.config" Value="[MESSAGEBUS]" ></util:XmlFile>
              <util:XmlFile Id="SetLocalDb" Action="setValue" ElementPath="/uhuru/service/@localDb" File="[INSTALLDIR]\uhuru.config" Value="[LOCALDB]" ></util:XmlFile>
              
              <util:XmlFile Id="SetmaxNatsPayload" Action="setValue" ElementPath="/uhuru/service/@maxNatsPayload" File="[INSTALLDIR]\uhuru.config" Value="[MAXNATSPAYLOAD]" ></util:XmlFile>
              <util:XmlFile Id="SetfqdnHosts" Action="setValue" ElementPath="/uhuru/service/@fqdnHosts" File="[INSTALLDIR]\uhuru.config" Value="[FQDNHOSTS]" ></util:XmlFile>
              <util:XmlFile Id="SetopTimeLimit" Action="setValue" ElementPath="/uhuru/service/@opTimeLimit" File="[INSTALLDIR]\uhuru.config" Value="[OPTIMELIMIT]" ></util:XmlFile>
              <util:XmlFile Id="SetStatusPort" Action="setValue" ElementPath="/uhuru/service/@statusPort" File="[INSTALLDIR]\uhuru.config" Value="[STATUSPORT]" ></util:XmlFile>

              <util:XmlFile Id="SetHost" Action="setValue" ElementPath="/uhuru/service/mssql/@host" File="[INSTALLDIR]\uhuru.config" Value="[HOST]" ></util:XmlFile>
              <util:XmlFile Id="SetUser" Action="setValue" ElementPath="/uhuru/service/mssql/@user" File="[INSTALLDIR]\uhuru.config" Value="[USER]" ></util:XmlFile>
              <util:XmlFile Id="SetPass" Action="setValue" ElementPath="/uhuru/service/mssql/@password" File="[INSTALLDIR]\uhuru.config" Value="[PASSWORD]" ></util:XmlFile>
              <util:XmlFile Id="SetPort" Action="setValue" ElementPath="/uhuru/service/mssql/@port" File="[INSTALLDIR]\uhuru.config" Value="[PORT]" ></util:XmlFile>
              <util:XmlFile Id="SetMaxDbSize" Action="setValue" ElementPath="/uhuru/service/mssql/@maxDbSize" File="[INSTALLDIR]\uhuru.config" Value="[MAXDBSIZE]" ></util:XmlFile>
              <util:XmlFile Id="SetMaxLongQuery" Action="setValue" ElementPath="/uhuru/service/mssql/@maxLongQuery" File="[INSTALLDIR]\uhuru.config" Value="[MAXLONGQUERY]" ></util:XmlFile>
              <util:XmlFile Id="SetMaxLongTx" Action="setValue" ElementPath="/uhuru/service/mssql/@maxLongTx" File="[INSTALLDIR]\uhuru.config" Value="[MAXLONGTX]" ></util:XmlFile>
              <util:XmlFile Id="SetMaxUserCon" Action="setValue" ElementPath="/uhuru/service/mssql/@maxUserConns" File="[INSTALLDIR]\uhuru.config" Value="[MAXUSERCONNS]" ></util:XmlFile>

              <util:XmlFile Id="SetinitialDataSize" Action="setValue" ElementPath="/uhuru/service/mssql/@initialDataSize" File="[INSTALLDIR]\uhuru.config" Value="[INTIALDATASIZE]" ></util:XmlFile>
              <util:XmlFile Id="SetdataFileGrowth" Action="setValue" ElementPath="/uhuru/service/mssql/@dataFileGrowth" File="[INSTALLDIR]\uhuru.config" Value="[DATAFILEGROWTH]" ></util:XmlFile>
              <util:XmlFile Id="SetlogFileGrowth" Action="setValue" ElementPath="/uhuru/service/mssql/@logFileGrowth" File="[INSTALLDIR]\uhuru.config" Value="[LOGFILEGROWTH]" ></util:XmlFile>
              <util:XmlFile Id="SetmaxDataSize" Action="setValue" ElementPath="/uhuru/service/mssql/@logFileGrowth" File="[INSTALLDIR]\uhuru.config" Value="[MAXDATASIZE]" ></util:XmlFile>
              <util:XmlFile Id="SetinitialLogSize" Action="setValue" ElementPath="/uhuru/service/mssql/@initialLogSize" File="[INSTALLDIR]\uhuru.config" Value="[INITIALLOGSIZE]" ></util:XmlFile>
              <util:XmlFile Id="SetmaxLogSize" Action="setValue" ElementPath="/uhuru/service/mssql/@maxLogSize" File="[INSTALLDIR]\uhuru.config" Value="[MAXLOGSIZE]" ></util:XmlFile>

              <util:XmlFile Id="SetlogicalStorageUnits" Action="setValue" ElementPath="/uhuru/service/mssql/@logicalStorageUnits" File="[INSTALLDIR]\uhuru.config" Value="[LOGICALSTORAGEUNITS]" ></util:XmlFile>
              

              <util:XmlFile Id="SetBackupBaseDir" Action="setValue" ElementPath="/uhuru/service/backup/@backupBaseDir" File="[INSTALLDIR]\uhuru.config" Value="[BACKUPBASEDIR]" ></util:XmlFile>
              <util:XmlFile Id="SetBackupTimeout" Action="setValue" ElementPath="/uhuru/service/backup/@timeout" File="[INSTALLDIR]\uhuru.config" Value="[TIMEOUT]" ></util:XmlFile>
              <util:XmlFile Id="SetBackupServiceName" Action="setValue" ElementPath="/uhuru/service/backup/@serviceName" File="[INSTALLDIR]\uhuru.config" Value="[SERVICENAME]" ></util:XmlFile>


              <ServiceInstall Id="mssql" Type="ownProcess" Name="MSSQL" DisplayName="MSSQL"
                Description="Uhuru MSSQL Service" Start="auto" Account="LocalSystem" ErrorControl="normal">
                <util:PermissionEx User="Everyone" ServicePauseContinue="yes" ServiceQueryStatus="yes"
                        ServiceStart="yes" ServiceStop="yes" ServiceUserDefinedControl="yes" />
                <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType ="restart"/>
                <ServiceConfig DelayedAutoStart="yes" OnInstall="yes"></ServiceConfig>
              </ServiceInstall>
              <ServiceControl Id="MSSQL" Start="install" Stop="both" Remove="both" Name="MSSQL" Wait="no" />

            </Component>            
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="ProductComponents" />      
    </Feature>
    
	</Product>	
</Wix>